/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  padding: 192px 0 135px;
  .text{
    position: relative;
    max-width: 588px;
    width: 100%;
    margin: 0 auto 0 0;
    padding: 55px 0 49px;
    h1{
      font-family: "Playfair Display";
      font-weight: 700;
      font-size: 80px;
      color: #FFFFFF;
      line-height: 93px;
    }
    h5{
      margin: 10px 0 0;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
      line-height: 27px;
      letter-spacing: 8px;
    }
    p{
      max-width: 487px;
      margin: 29px auto 51px;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 15px;
      color: #FFFFFF;
      line-height: 180%;
      letter-spacing: 0.4px;
    }
    &::before{
      content: url(../images/common/beforeBn.png);
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after{
      content: url(../images/common/afterBn.png);
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
