/*footer*/

#footer {
  background: #FFFFFF;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .ftTop{
    padding: 80px 0 23px;
    img.ftLogo{
      display: block;
      max-width: 336px;
      width: 100%;
      margin: 0 auto;
    }
    ul{
      &.details{
        max-width: 882px;
        margin: 31px auto 23px;
      }
      &.navi{
        max-width: 713px;
        margin: 23px auto 0;
      }
      display: block;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li{
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 13px;
        color: #454352;
        letter-spacing: 4px;
        &.slash{
          color: #FE6696;
        }
      }
    }
    p.sm{
      margin: 0 auto;
      max-width: 225px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      a{
        font-family: "Socialico";
        font-size: 40px;
        font-weight: 400;
        color: #454352;
      }
    }
  }
  .ftBot{
    background: #B20000;
    padding: 10px;
    p{
      margin: 0 auto;
      font-family: "Montserrat";
      font-size: 12px;
      font-weight: 400;
      color: #FFFFFF;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }
}
