/*header*/

#header {
  background: #FFFFFF;
  padding: 0;
  .row{
    max-width: 1170px;
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li {
        display: inline-block;
        vertical-align: middle;
        padding: 57px 0;
        a {
          position: relative;
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 13px;
          color: #666666;
          line-height:20px;
          padding: 59px 0;
        }
        &.active-menu a, a:hover {
          color: #B20000;
          &::before{
            content: "";
            background: #B20000;
            width: 41px;
            height: 5px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:last-child{
          padding: 0;
          a:hover {
            &::before{
              display: none;
            }
          }
        }
      }
    }
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .hdRight{
      max-width: 690px;
      width: 100%;
    }
  }
}
