/*----------------------------section 1----------------------------*/
#welcome{
  background: #FFFFFF;
  padding: 100px 0;
  .row{
    max-width: 1170px;
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    .wlcLeft{
      img{
        max-width: 565px;
        width: 100%;
        margin-bottom: -4px;
      }
    }
    .wlcRight{
      text-align: left;
      p{
        margin: 30px 0 54px;
        max-width: 543px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #545454;
        line-height: 180%;
        letter-spacing: 0.4px;
      }
    }
  }
}
