/*----------------------------section 2----------------------------*/
#what-we-do{
  .row{
    max-width: 100%;
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    .left{
      background: url(../images/common/bgWWD1.jpg)no-repeat center top;
      background-size: cover;
      padding: 118px 0 145px;
      text-align: left;
      width: 37.3125%;
      .text{
        max-width:276px;
        width: 100%;
        margin: 0 107px 0 auto;
        h2{
          color: #FFFFFF;
          line-height: 80px;
          span{
            display: block;
            color: #B20000;
          }
        }
        p{
          margin: 20px 0 0;
          max-width: 292px;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 180%;
          letter-spacing: 0.4px;
        }
      }
    }
    .mid{
      width: 48.5625%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      dl{
        text-align: center;
        margin: 0;
        width: 32%;
        max-height: 253px;
        border: 1px solid #454354;
        dt{
          padding: 71px 0 44px;
        }
        dd{
          padding: 0 0 44px;
          margin: 0;
          font-family: "Montserrat";
          font-weight:500;
          font-size: 16px;
          color: #454353;
          line-height: 23px;
        }
      }
    }
    .right{
      background: url(../images/common/bgWWD2.jpg)no-repeat center top;
      background-size: cover;
      width: 12.25%;
    }
  }
}
