/*----------------------------section 4----------------------------*/
#gallery{
  background: url(../images/common/bgGallery.jpg)no-repeat center top;
  background-size: cover;
  padding: 81px 0 75px;
  .row{
    position: relative;
    max-width: 1170px;
  }
  .images{
    max-width: 593px;
    width: 100%;
    min-height: 504px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: absolute;
    top: -18px;
    left: 0;
    img{
      height: 100%;
      min-height: 242px;
    }
  }
  .right{
    text-align: left;
    h2{
      color: #FFFFFF;
    }
    p{
      margin: 40px 0 30px;
      max-width: 493px;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 180%;
      letter-spacing: 0.7px;
    }
  }
}
