/*----------------------------section 5----------------------------*/
#testimonials{
  padding: 164px 0 0;
  .row{
    position: relative;
    max-width: 1170px;
  }
  p.sm{
    margin: 0;
    position: absolute;
    top: -136px;
    right: 0;
    max-width: 225px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    a{
      font-family: "Socialico";
      font-size: 40px;
      font-weight: 400;
      color: #454352;
    }
  }
  .container{
    position: relative;
    .left{
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      background: #353441;
      position: relative;
      padding: 45px 102px 45px 53px;
      z-index: 1;
      p{
        max-width: 343px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        line-height: 180%;
        margin: 0;
        letter-spacing: 0.5px;
      }
      p.auth{
        margin: 30px auto 50px;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
        line-height: 21px;
      }
      p.stars{
        position: absolute;
        top: 45px;
        right: 53px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        color: #B20000;
        font-size: 18px;
        max-width: 14px;
        margin: 0 auto;
      }
    }
    .right{
      display: inline-block;
      vertical-align: middle;
      background: url(../images/common/bgTesti.jpg)no-repeat center top;
      background-size: cover;
      padding: 80px 73px 186px 422px;
      text-align: right;
      margin-left: -158px;
      h2{
        color: #FFFFFF;
        text-align: left;
        margin-bottom: 60px;
        span{
          display: block;
        }
      }
    }
    &::before{
      content: "";
      width: 68%;
      height: 1px;
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
    }
  }
}
