/*----------------------------section 3----------------------------*/
#why-choose-us{
  background: #FFFFFF;
  padding: 100px 0;
  .row{
    max-width: 1170px;
  }
  .wrapper{
    margin-top: 20px;
    .top{
      position: relative;
      background: #B20000;
      padding: 51px 73px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .left{
        text-align: left;
        p{
          margin: 0;
          max-width: 641px;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 180%;
          letter-spacing: 0.9px;
        }
      }
      .right{
        img{
          max-width: 319px;
          width: 100%;
          margin-bottom: -79px;
        }
      }
    }
    .bot{
      padding:0 73px 0;
      text-align: left;
      p{
        margin: 22px 0 0;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 15px;
        color: #666666;
        line-height: 21px;
        letter-spacing: 1.2px;
        span{
          margin-left: 29px;
          display: inline-block;
          vertical-align: middle;
          line-height: 38px;
          font-weight: 700;
          font-size: 30px;
          color: #33333F;
        }
      }
    }
  }
}
