h1 {
  font-size: 100px;
  font-weight: 100;
  color: #000;
}
h2{
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 80px;
  color: #343340;
  line-height: 93px;
}
h3{
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  color: #343340;
  line-height: 49px;
}
