@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Playfair Display'; src: url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("fonts/PlayfairDisplay-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1280px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Montserrat"; font-size: 13px; font-weight: 400; line-height: 20px; letter-spacing: 2px; color: #FFF; display: inline-block; padding: 21px 0; background: #B20000; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; max-width: 198px; width: 100%; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #fff; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 100px; font-weight: 100; color: #000; }

h2 { font-family: "Playfair Display"; font-weight: 700; font-size: 80px; color: #343340; line-height: 93px; }

h3 { font-family: "Playfair Display"; font-weight: 700; font-size: 40px; color: #343340; line-height: 49px; }

/*header*/
#header { background: #FFFFFF; padding: 0; }

#header .row { max-width: 1170px; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav ul li { display: inline-block; vertical-align: middle; padding: 57px 0; }

#header nav ul li a { position: relative; font-family: "Montserrat"; font-weight: 500; font-size: 13px; color: #666666; line-height: 20px; padding: 59px 0; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #B20000; }

#header nav ul li.active-menu a::before, #header nav ul li a:hover::before { content: ""; background: #B20000; width: 41px; height: 5px; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#header nav ul li:last-child { padding: 0; }

#header nav ul li:last-child a:hover::before { display: none; }

#header .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .wrapper .hdRight { max-width: 690px; width: 100%; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; padding: 192px 0 135px; }

#banner .text { position: relative; max-width: 588px; width: 100%; margin: 0 auto 0 0; padding: 55px 0 49px; }

#banner .text h1 { font-family: "Playfair Display"; font-weight: 700; font-size: 80px; color: #FFFFFF; line-height: 93px; }

#banner .text h5 { margin: 10px 0 0; font-family: "Montserrat"; font-weight: 400; font-size: 20px; color: #FFFFFF; line-height: 27px; letter-spacing: 8px; }

#banner .text p { max-width: 487px; margin: 29px auto 51px; font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #FFFFFF; line-height: 180%; letter-spacing: 0.4px; }

#banner .text::before { content: url(../images/common/beforeBn.png); width: 100%; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#banner .text::after { content: url(../images/common/afterBn.png); width: 100%; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

/*----------------------------section 1----------------------------*/
#welcome { background: #FFFFFF; padding: 100px 0; }

#welcome .row { max-width: 1170px; }

#welcome .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#welcome .wrapper .wlcLeft img { max-width: 565px; width: 100%; margin-bottom: -4px; }

#welcome .wrapper .wlcRight { text-align: left; }

#welcome .wrapper .wlcRight p { margin: 30px 0 54px; max-width: 543px; font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #545454; line-height: 180%; letter-spacing: 0.4px; }

/*----------------------------section 2----------------------------*/
#what-we-do .row { max-width: 100%; }

#what-we-do .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#what-we-do .wrapper .left { background: url(../images/common/bgWWD1.jpg) no-repeat center top; background-size: cover; padding: 118px 0 145px; text-align: left; width: 37.3125%; }

#what-we-do .wrapper .left .text { max-width: 276px; width: 100%; margin: 0 107px 0 auto; }

#what-we-do .wrapper .left .text h2 { color: #FFFFFF; line-height: 80px; }

#what-we-do .wrapper .left .text h2 span { display: block; color: #B20000; }

#what-we-do .wrapper .left .text p { margin: 20px 0 0; max-width: 292px; font-family: "Open Sans"; font-weight: 400; font-size: 14px; color: #FFFFFF; line-height: 180%; letter-spacing: 0.4px; }

#what-we-do .wrapper .mid { width: 48.5625%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: justify; align-content: space-between; }

#what-we-do .wrapper .mid dl { text-align: center; margin: 0; width: 32%; max-height: 253px; border: 1px solid #454354; }

#what-we-do .wrapper .mid dl dt { padding: 71px 0 44px; }

#what-we-do .wrapper .mid dl dd { padding: 0 0 44px; margin: 0; font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #454353; line-height: 23px; }

#what-we-do .wrapper .right { background: url(../images/common/bgWWD2.jpg) no-repeat center top; background-size: cover; width: 12.25%; }

/*----------------------------section 3----------------------------*/
#why-choose-us { background: #FFFFFF; padding: 100px 0; }

#why-choose-us .row { max-width: 1170px; }

#why-choose-us .wrapper { margin-top: 20px; }

#why-choose-us .wrapper .top { position: relative; background: #B20000; padding: 51px 73px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#why-choose-us .wrapper .top .left { text-align: left; }

#why-choose-us .wrapper .top .left p { margin: 0; max-width: 641px; font-family: "Open Sans"; font-weight: 400; font-size: 14px; color: #FFFFFF; line-height: 180%; letter-spacing: 0.9px; }

#why-choose-us .wrapper .top .right img { max-width: 319px; width: 100%; margin-bottom: -79px; }

#why-choose-us .wrapper .bot { padding: 0 73px 0; text-align: left; }

#why-choose-us .wrapper .bot p { margin: 22px 0 0; font-family: "Montserrat"; font-weight: 500; font-size: 15px; color: #666666; line-height: 21px; letter-spacing: 1.2px; }

#why-choose-us .wrapper .bot p span { margin-left: 29px; display: inline-block; vertical-align: middle; line-height: 38px; font-weight: 700; font-size: 30px; color: #33333F; }

/*----------------------------section 4----------------------------*/
#gallery { background: url(../images/common/bgGallery.jpg) no-repeat center top; background-size: cover; padding: 81px 0 75px; }

#gallery .row { position: relative; max-width: 1170px; }

#gallery .images { max-width: 593px; width: 100%; min-height: 504px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; position: absolute; top: -18px; left: 0; }

#gallery .images img { height: 100%; min-height: 242px; }

#gallery .right { text-align: left; }

#gallery .right h2 { color: #FFFFFF; }

#gallery .right p { margin: 40px 0 30px; max-width: 493px; font-family: "Open Sans"; font-weight: 400; font-size: 14px; color: #FFFFFF; line-height: 180%; letter-spacing: 0.7px; }

/*----------------------------section 5----------------------------*/
#testimonials { padding: 164px 0 0; }

#testimonials .row { position: relative; max-width: 1170px; }

#testimonials p.sm { margin: 0; position: absolute; top: -136px; right: 0; max-width: 225px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#testimonials p.sm a { font-family: "Socialico"; font-size: 40px; font-weight: 400; color: #454352; }

#testimonials .container { position: relative; }

#testimonials .container .left { display: inline-block; vertical-align: middle; text-align: left; background: #353441; position: relative; padding: 45px 102px 45px 53px; z-index: 1; }

#testimonials .container .left p { max-width: 343px; font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #FFFFFF; line-height: 180%; margin: 0; letter-spacing: 0.5px; }

#testimonials .container .left p.auth { margin: 30px auto 50px; font-family: "Montserrat"; font-weight: 500; font-size: 15px; color: #FFFFFF; line-height: 21px; }

#testimonials .container .left p.stars { position: absolute; top: 45px; right: 53px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-line-pack: justify; align-content: space-between; color: #B20000; font-size: 18px; max-width: 14px; margin: 0 auto; }

#testimonials .container .right { display: inline-block; vertical-align: middle; background: url(../images/common/bgTesti.jpg) no-repeat center top; background-size: cover; padding: 80px 73px 186px 422px; text-align: right; margin-left: -158px; }

#testimonials .container .right h2 { color: #FFFFFF; text-align: left; margin-bottom: 60px; }

#testimonials .container .right h2 span { display: block; }

#testimonials .container::before { content: ""; width: 68%; height: 1px; background: rgba(255, 255, 255, 0.4); position: absolute; top: 62%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); z-index: 99; }

/*footer*/
#footer { background: #FFFFFF; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .ftTop { padding: 80px 0 23px; }

#footer .ftTop img.ftLogo { display: block; max-width: 336px; width: 100%; margin: 0 auto; }

#footer .ftTop ul { display: block; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .ftTop ul.details { max-width: 882px; margin: 31px auto 23px; }

#footer .ftTop ul.navi { max-width: 713px; margin: 23px auto 0; }

#footer .ftTop ul li { display: inline-block; vertical-align: middle; line-height: 20px; font-family: "Montserrat"; font-weight: 400; font-size: 13px; color: #454352; letter-spacing: 4px; }

#footer .ftTop ul li.slash { color: #FE6696; }

#footer .ftTop p.sm { margin: 0 auto; max-width: 225px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#footer .ftTop p.sm a { font-family: "Socialico"; font-size: 40px; font-weight: 400; color: #454352; }

#footer .ftBot { background: #B20000; padding: 10px; }

#footer .ftBot p { margin: 0 auto; font-family: "Montserrat"; font-size: 12px; font-weight: 400; color: #FFFFFF; text-transform: uppercase; letter-spacing: 4px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
